.serif {
  font-family: 'Lora', serif;
}

.sans {
  font-family: 'Lato', sans-serif;
}

.white-text {
  color: #fff;
}

.hero-banner {
  min-height: 100vh;
  min-width: 25em;
  max-height: 100vh;
  background-image: linear-gradient(to bottom,rgba(124, 31, 32, .9), rgba(124, 31, 32, .7)), url('../images/architectural-buildings.jpg');
  background-size: cover;
}

.no-link {
  text-decoration: none;
}

#img-no-width {
  width: 75%;
}

.add-small {
  padding: 1.5rem 0;
}

.i-size {
  min-height: 70px;
  width: 85%;
}

.border-div {
  border-left: 4px solid #fff;
}

.text-position {
  left: 0;
  top: 65%;
  transform: translateY(-50%);
}

.address-line_height {
  line-height: 1.125rem;
}

.grid-top {
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.m-min-width {
  min-width: 800px;
}


@media only screen and (min-width: 50em) {
  .m-min-width {
    min-width: inherit;
  }

  .add-small {
    padding: 0;
  }

  #img-no-width {
    width: 75%;
  }
}


@media only screen and (min-width: 68em) {
  #img-no-width {
    width: 65%;
  }
}


@media only screen and (min-width: 110em) {
  #img-no-width {
    width: 45%;
  }
}


@media only screen and (min-width: 130em) {
  #img-no-width {
    width: 30%;
  }
}
